*{
    margin: 0px;
    color: white    ;    
}
/* div{
    border: solid 2px blue;
} */
body{
    background-image: url(../images/blackbg.jpg);
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* background-color: black; */
    
    
}
#navbar ul{
    display:flex;
    margin: 0px 0px;
    padding:16px 16px;
    background-color: rgb(0, 0, 0);
}
.name{
    /* text-shadow: 0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #fff,
    0 0 80px #fff; */
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0004);
    animation: name 5s linear infinite;
    line-height: 0.7;
    outline:none;
}
#tagline{
    margin:20px;
}
.tubelight{
    position:relative;
    font-size: 2.5em;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing:0px;
    color: #0e3742;
    text-transform: uppercase;
    width: 100%;
    text-align:center;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0004);
    line-height: 0.7;
    outline:none;
    animation: tubelight 10s linear infinite;
}
@keyframes tubelight{
    0%,50%,100%{
        color: #0e3742;
    }
    25%,75%{
        color: #fff;
        text-shadow: 0 0 5px #03bcf4,
        0 0 20px #03bcf4,
        0 0 40px #03bcf4,
        0 0 80px #03bcf4,
        0 0 160px #03bcf4,
    }
}
@keyframes name{
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%{
        color: #0e3742;
    }
    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%{
        color: #fff;
        text-shadow: 0 0 10px #03bcf4,
        0 0 20px #03bcf4,
        0 0 40px #03bcf4,
        0 0 80px #03bcf4,
        0 0 160px #03bcf4,
    }
}
.hii{
    color:grey;
}
.about{
    color: rgb(167,167,167);
}
.item{
    
    margin: 0px 20px;
    list-style:none;
}
.item a{
    padding:8px 8px;
    text-decoration: none;
    color: white;
    
}
a:hover{
    background-color: rgb(241, 241, 238);
    color: black;
}
#intro{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    height: 150px;
    width: 100%; 
}
#mainintro{
    display: block;
    display:flex;
    height: 300px;
    width: 100%;
    justify-content:space-evenly;
    align-items: center;
    background-image: url(../images/blackbg.jpg);
    color: white;
    border-radius: 10px;;
}

#mainintro img{
    border-radius: 100%;
    width: 200px;
    height: 200px;
}
#aboutme{
    display: flex;
    flex-direction: column;
    width: 500px;
    justify-content: center;
    align-items: center;
    font-size:larger;
}
#tech{
    display: flex;
    height: 350px;
    width: 1000px;
    justify-content: space-between;
    align-items: center;

}
.itemtech{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 40px;
    padding: 20px 20px;
    color: white;
    background-image: url(../images/tech.jpg);
    border-radius: 20px;
    width: 200px;
    height: 210px;
    transition: height 0.2s,width 0.2s;
}
.skill{
    visibility: hidden;
}
.skill li{
 list-style-type:none;
 text-shadow: 0 0 10px #fff;
 text-transform: uppercase;
}
.itemtech:hover{
    height: 270px;
    width: 220px;
    box-shadow: 0 0 10px whitesmoke;
}
.itemtech:hover .skill{
    visibility: visible;
}
.itemtech img{
    height: 100px;
    width: 100px;
    border-radius: 100px;
}
#head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
#hobhead{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px;
    
}
#hobhead p{
    font-size:larger;
    width: 90%;
    justify-content: center;
    align-items: center;
}
#hobbies{
    display: grid;
    grid-template-columns: repeat(2,2fr);
    grid-gap: 2rem;
    border-color: black;
    margin-top: 30px;
    text-align: center;

}
.hobitem{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 80px;
    background-image: url(../images/tech.jpg);
    color: blanchedalmond;
    border-radius: 20px;
    transition: height 0.2s,width 0.2s;
}
.hobitem:hover{
    height: 90px;
    width: 360px;
    box-shadow: 0 0 10px whitesmoke;
}
#contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}
#mailadd{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
#mailadd img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    box-shadow: 0 0 10px whitesmoke;
}
.extra{
    margin: 10px;
}
#connect{
    display: flex;
    margin-top: 20px;
    
}
.conitem img{
    margin: 20px;
    padding: 0;
    height: 75px;
    width: 75px;
    
    box-shadow: 0 0 10px whitesmoke;
    /* margin: 20px;
    transition: height 0.5s,width 0.5s; */
}
#github img{
    border-radius: 50%;
}
#linkedin img{
    border-radius: 20%;
}
#insta img{
    border-radius: 30%;
}

.logo{
    text-decoration-style: none;
}    

.conitem img:hover{
    height: 85px;
    width:85px;
}
